.mobileMenu{
    top: 0px;
    position: absolute;
    padding: 0 6% 0 6% ;
    height: 100%;
    width: 88%;
    background-color: #131313;
    color: #fff;
    opacity: 1;
    z-index: 10;

    .buttonWrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 15vh;
        h2{
            font-size: 2.4rem;
            margin-bottom: 1rem;
            color: var(--logo-color);
        }
        img{
            width: 3rem;
            height: 2.6rem;
            margin-bottom: 1rem;
            cursor: pointer;
            z-index: 100;
        }
    }
    .menuWrap{
        height: 20rem;
        display: flex;
        justify-content: left;
        align-items: center;
       
        margin: 0;
        ul{
            width: 100%;
            hr{
                border: 0.5px solid rgb(60, 60, 60);
                
                margin: 0;
                margin-bottom: 0.4rem;
            }
            padding-left: 0.4rem;
            li{
                margin-bottom: 0.6rem;
                font-weight: 300;
                font-size: 1.2rem;
                font-family: var(--Lato-Font);
                list-style: none;
                text-align: left;
            }
        }
    }
}

.hidden{
display: none;
}

@media only screen and (min-width: 700px){
    .mobileMenu{
        display: none;
    }
}