.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-color: #fff;

    
}

.section:nth-child(3){
    background-color: #131313;
    padding: 4rem 0;
    color: #fff;
}

.section:nth-child(4){

    padding:4rem 1rem ;
   
    background-color: #fff;

    .contactForm{
       
        margin: 2rem 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #545454;
        border-radius: 8px;
        height: 21rem;
        padding: 2rem 1rem;
       

        h3{
            font-size: 1.6rem;
            color: #fff;
            font-family: var(--Lato-Font);
            margin-bottom: 1rem;
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;      
                 
            width: 80%;

            p{
                width: 90%;
                color: #fff;
                font-family: var(--Lato-Font);
                font-size: 1.4rem;

            }

            input{
                
                border: none;
                height: 1.8rem;
                border-radius: 4px;
                width: 90%;
                padding: 0 0 0 0.8rem;
                margin: 0;
                margin-bottom: 1rem;
            }

            .submit{
               
                
                width: 10rem;
                height: 3rem;
                font-size: 1.6rem;
                font-weight:500;
                border-radius: 8px;
                color: #fff;
                background-color: #131313;
            }
        }
    }

    .sectionContent{
        display: flex;
        margin: 0;
        margin-top: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        width: 100%;
        

        
        .contactContent{

            width: 80%;

            p{
                font-size: 1.4rem;
                font-weight: 400;
                margin: 0;
                text-align: center;
                font-family: var(--Lato-Font);
            }
        }

        .contactSocial{

            margin-top: 2rem;

            h3{
                margin-top: 2rem;
                font-family: var(--Lato-Font);
            }

            ul{
                
                li{
                    display: flex;
                    align-items: center;
                    font-family: var(--Lato-Font);
                }
            }

            .contactInfo{
                padding: 0;
               
                    width: 60vw;
                    display: flex;               
                    
                    flex-direction: column;

                    li{
                        img{
                            width: 2rem;
                            margin-right: 1rem;
                        }                
                    }

                    li:nth-child(2){
                        
                        margin-top: 0.6rem
                    }
                 ;
            }

            .socialInfo{
                margin-top: 1rem;
                padding: 0;
                display: flex;
                justify-content: space-around;
                
                align-items: center;
                
            }


        }
    }
}

.sectionTitleContainer{
    padding: 0 1rem;
    
    text-align: center;
    h2{
        font-family: var(--Libre-Font);
    }

    h3{
        font-family: var(--Lato-Font);
        font-weight: 300;
    }
}



.fieldIMGContainer{
    margin-top: 3rem;
    background-image: url("/img/winefield2.png");
    background-repeat: no-repeat;
   // background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    height: 16rem;
}

.wineIMGContainer{
    margin-top: 3rem;
    background-image: url("/img/wine.png");
    background-repeat: no-repeat;
   // background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    height: 16rem;
}

.sectionsText{
    padding: 2rem;
    .textContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            font-size: 1rem;
            text-align: center;
            font-family: var(--Lato-Font);
        }

        img{
            width: 10rem;
            margin-top: 1rem;
        }
    }
}


@media only screen and (min-width: 700px){

    hr{
        width: 90vw;
    }

    .section{

        .sectionContent{
            align-items: flex-start;
        }
        
        .sectionTitleContainer{
            margin-bottom: 2rem;
        }

       
    }

    .section:nth-child(3){
     
        .sectionContent{
            flex-direction: row;
            margin-top: 2rem;
            
        }
    }

    
    .section:nth-child(4){

        padding:4rem 1rem;
        
        background-color: #fff;

        .contactWrap{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .contactForm{
                width: 50%;
                max-width: 40rem;
                h3{
                    
                }
        
                form{
                    
        
                    p{
                       
                    }
        
                    input{
                        
                    }
        
                    .submit{
                       
                    }
                }
            }
        
            .sectionContent{
                margin-top: 0;
                width: 50%;
                
                .contactContent{
                   
                    p{
                        
                    }
                }
        
                .contactSocial{
                    width: 70%;
                   
        
                    h3{
                        
                    }
        
                    ul{
                        
                        li{
                            
                        }
                    }
        
                    .contactInfo{
                        width: 100%;
                            li{
                                img{
                                   
                                }                
                            }
                    }
        
                    .socialInfo{
                       width: 12rem;
                        
                    }
                }
            }

        }
       
    }
    
    

    .sectionContent{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        .fieldIMGContainer{
            margin: 0;
            width: 50%;
            height: 40vh;
            max-height: 20rem;
            width: 40vw;
            max-width: 24rem;
        }
        .wineIMGContainer{
            margin: 0;
            width: 50%;
            height: 40vh;
            max-height: 20rem;
            width: 40vw;
            max-width: 24rem;
        }

        .sectionsText{            
            width: 50%;
            .textContainer{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p{
                    text-align: left;
                    font-size: 1.2rem;
                    max-width: 30rem;
                }
                img{
                   align-self: flex-end;
                }
            }
        }
    }

}

@media only screen and (min-width: 1280px){
    .sectionContent{
        max-width: 80rem;
    }

    .contactWrap{
        width: 80vw;
    }
}