
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Libre+Baskerville:wght@400;700&display=swap');

:root{
    --logo-color:  rgb(255, 187, 0);
    --Libre-Font:"Libre Baskerville";
}

body{
    background: #000;
    background-image: url("/img/barricas.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
}

body,h1,h2,h3,p,ul,li{
    margin: 0;
}
   
header{
    height: 7vh;
    padding: 3vh 6vw 0 6vw;   
    font-family: "Lato";
    color:#fff;

    .mobileNav{
        display: flex;        
        align-items: center;
        justify-content: space-between;
        height: 100%;

        h1{
            font-family: var(--Libre-Font);
            color: var(--logo-color);
        }

            img{
                cursor: pointer;
                max-height: 2rem;
                max-width: 3rem;
            }
        }
    

    .socialMedia{
        height: 100%;
        display: none;
        align-items: center;
        text-align: center;
        justify-content: end;
        font-weight: lighter;
        border-bottom: #fff 1px solid;
    }    
    .storeData{
        ul{
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            width: 20rem;
            
            li{
                display: flex;
                align-items: center;
                list-style: none;
                justify-content: space-between;
                width: 11.3rem;
                img{
                    height:1.1rem;
                    width:1.1rem;
                }
                
                p{
                    text-decoration: underline;
                }
            }
            
            li:nth-child(1){
                width: 8rem;
                img{
                   width: 1rem;
                }
            }

            li:nth-child(2){
                width: 11rem;
                img{
                   width: 1.5rem;
                }
            }
        }
    }

    .socialMediaIcons{
        margin-left: 1rem;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            width: 4rem;
            img{
                width: 1.6rem;
            }
        }
    }
  }

  nav{
    display: none; 
    height: 100%;    
    justify-content: space-between;   

    .logoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1{
       
        font-family: var(--Libre-Font);
        color: var(--logo-color);
    }
    .navbarContainer{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 64vw;
        max-width: 36rem;
        ul{
            padding: 0;          
            width: 100%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            li{
                font-size: 1.2rem;
                font-weight: 300;
            }
        }
    }
}

.landingSectionWrap{
    .mainIMG{       
        background-image: url("/img/winefield1.png");
        background-repeat: no-repeat;       
        background-position: center;
        background-size: cover;
        margin: 0;
        margin-top: 5vh;
        height: 55vh;
        max-height: 30rem;
        width: 100%;

        .bootle{
            display: flex;
            justify-content: center;
            img{
               /* width: 35%;
                height: 35%;
                max-width: 7rem;
                max-height: 20rem; */

                width: 18vh;
                height: 60vh;
            }
        }
    }    

    .titleContainer{
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 4vh;
        color: #fff;
        h1{          
            font-size: 1.6rem;  
            font-family: var(--Libre-Font);
        }    

        h2{
            font-family: "Lato";
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
        
}





  @media only screen and (min-width: 700px) {
   
   header{
    padding: 1vh 8vw 0 6vw;
    .socialMedia{
        display: flex;
    }

    .mobileNav{
        display: none;
    }
   }

    nav{
        display: flex;

        .navbarContainer{
            ul{
                li{
                    font-weight: 500;
                }
            }
        }
    }

    .landingSectionWrap{
        justify-content: end;
        .mainIMG{
            display: flex;
            justify-content: end;
            margin-top: 8vh;
        }

        .bootle{
            display: flex;
            position: relative;
            
            
            img{
                right: 10vw;
                position: absolute;                
                }
        }

        .titleContainer{
            padding: 0 8vw;
            h1{
                font-size: 3rem;
            }
            h2{
                font-size: 1.6rem;
            }
        }
    }

    
    
  }

  @media only screen and (min-width: 1280px){

    header{
        padding: 0 8vw;
    }

.landingSectionWrap{
    .bootle{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;

        img{
            position: absolute;
            right: 16vw;   
        }
    }

    .titleContainer{
        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 2rem;
        }
    }

}
    

    
  }
