@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Libre+Baskerville:wght@400;700&display=swap");
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background-color: #fff;
}

.section:nth-child(3) {
  background-color: #131313;
  padding: 4rem 0;
  color: #fff;
}

.section:nth-child(4) {
  padding: 4rem 1rem;
  background-color: #fff;
}
.section:nth-child(4) .contactForm {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #545454;
  border-radius: 8px;
  height: 21rem;
  padding: 2rem 1rem;
}
.section:nth-child(4) .contactForm h3 {
  font-size: 1.6rem;
  color: #fff;
  font-family: var(--Lato-Font);
  margin-bottom: 1rem;
}
.section:nth-child(4) .contactForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.section:nth-child(4) .contactForm form p {
  width: 90%;
  color: #fff;
  font-family: var(--Lato-Font);
  font-size: 1.4rem;
}
.section:nth-child(4) .contactForm form input {
  border: none;
  height: 1.8rem;
  border-radius: 4px;
  width: 90%;
  padding: 0 0 0 0.8rem;
  margin: 0;
  margin-bottom: 1rem;
}
.section:nth-child(4) .contactForm form .submit {
  width: 10rem;
  height: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 8px;
  color: #fff;
  background-color: #131313;
}
.section:nth-child(4) .sectionContent {
  display: flex;
  margin: 0;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section:nth-child(4) .sectionContent .contactContent {
  width: 80%;
}
.section:nth-child(4) .sectionContent .contactContent p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
  font-family: var(--Lato-Font);
}
.section:nth-child(4) .sectionContent .contactSocial {
  margin-top: 2rem;
}
.section:nth-child(4) .sectionContent .contactSocial h3 {
  margin-top: 2rem;
  font-family: var(--Lato-Font);
}
.section:nth-child(4) .sectionContent .contactSocial ul li {
  display: flex;
  align-items: center;
  font-family: var(--Lato-Font);
}
.section:nth-child(4) .sectionContent .contactSocial .contactInfo {
  padding: 0;
  width: 60vw;
  display: flex;
  flex-direction: column;
}
.section:nth-child(4) .sectionContent .contactSocial .contactInfo li img {
  width: 2rem;
  margin-right: 1rem;
}
.section:nth-child(4) .sectionContent .contactSocial .contactInfo li:nth-child(2) {
  margin-top: 0.6rem;
}
.section:nth-child(4) .sectionContent .contactSocial .socialInfo {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sectionTitleContainer {
  padding: 0 1rem;
  text-align: center;
}
.sectionTitleContainer h2 {
  font-family: var(--Libre-Font);
}
.sectionTitleContainer h3 {
  font-family: var(--Lato-Font);
  font-weight: 300;
}

.fieldIMGContainer {
  margin-top: 3rem;
  background-image: url("/img/winefield2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 16rem;
}

.wineIMGContainer {
  margin-top: 3rem;
  background-image: url("/img/wine.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 16rem;
}

.sectionsText {
  padding: 2rem;
}
.sectionsText .textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionsText .textContainer p {
  font-size: 1rem;
  text-align: center;
  font-family: var(--Lato-Font);
}
.sectionsText .textContainer img {
  width: 10rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 700px) {
  hr {
    width: 90vw;
  }
  .section .sectionContent {
    align-items: flex-start;
  }
  .section .sectionTitleContainer {
    margin-bottom: 2rem;
  }
  .section:nth-child(3) .sectionContent {
    flex-direction: row;
    margin-top: 2rem;
  }
  .section:nth-child(4) {
    padding: 4rem 1rem;
    background-color: #fff;
  }
  .section:nth-child(4) .contactWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .section:nth-child(4) .contactWrap .contactForm {
    width: 50%;
    max-width: 40rem;
  }
  .section:nth-child(4) .contactWrap .sectionContent {
    margin-top: 0;
    width: 50%;
  }
  .section:nth-child(4) .contactWrap .sectionContent .contactSocial {
    width: 70%;
  }
  .section:nth-child(4) .contactWrap .sectionContent .contactSocial .contactInfo {
    width: 100%;
  }
  .section:nth-child(4) .contactWrap .sectionContent .contactSocial .socialInfo {
    width: 12rem;
  }
  .sectionContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .sectionContent .fieldIMGContainer {
    margin: 0;
    width: 50%;
    height: 40vh;
    max-height: 20rem;
    width: 40vw;
    max-width: 24rem;
  }
  .sectionContent .wineIMGContainer {
    margin: 0;
    width: 50%;
    height: 40vh;
    max-height: 20rem;
    width: 40vw;
    max-width: 24rem;
  }
  .sectionContent .sectionsText {
    width: 50%;
  }
  .sectionContent .sectionsText .textContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sectionContent .sectionsText .textContainer p {
    text-align: left;
    font-size: 1.2rem;
    max-width: 30rem;
  }
  .sectionContent .sectionsText .textContainer img {
    align-self: flex-end;
  }
}
@media only screen and (min-width: 1280px) {
  .sectionContent {
    max-width: 80rem;
  }
  .contactWrap {
    width: 80vw;
  }
}
footer {
  display: flex;
  justify-content: center;
  background-color: #131313;
  color: #fff;
  height: 20rem;
  padding: 2rem 1rem;
  margin: 0;
}
footer .footerContainer {
  font-family: var(--Lato-Font);
  text-align: center;
  font-weight: lighter;
  margin: 0;
  width: 80%;
}
footer .footerContainer h3, footer .footerContainer hr {
  margin-top: 1rem;
  font-weight: lighter;
}
footer .footerContainer hr {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  footer {
    margin-top: 2rem;
  }
  footer .footerContainer {
    max-width: 90%;
  }
}
.mobileMenu {
  top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #131313;
  opacity: 0.8;
}
:root {
  --logo-color: rgb(255, 187, 0);
  --Libre-Font:"Libre Baskerville";
  --Lato-Font: "Lato";
}

body {
  background: #000;
  background-image: url("/img/barricas.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
}

header {
  height: 7vh;
  padding: 3vh 6vw 0 6vw;
  font-family: "Lato";
  color: #fff;
}
header .mobileNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .mobileNav h1 {
  font-family: var(--Libre-Font);
  color: var(--logo-color);
}
header .mobileNav img {
  cursor: pointer;
  max-height: 2rem;
  max-width: 3rem;
}
header .socialMedia {
  height: 100%;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  font-weight: lighter;
  border-bottom: #fff 1px solid;
}
header .storeData ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 20rem;
}
header .storeData ul li {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 11.3rem;
}
header .storeData ul li img {
  height: 1.1rem;
  width: 1.1rem;
}
header .storeData ul li p {
  text-decoration: underline;
}
header .storeData ul li:nth-child(1) {
  width: 8rem;
}
header .storeData ul li:nth-child(1) img {
  width: 1rem;
}
header .storeData ul li:nth-child(2) {
  width: 11rem;
}
header .storeData ul li:nth-child(2) img {
  width: 1.5rem;
}
header .socialMediaIcons {
  margin-left: 1rem;
}
header .socialMediaIcons ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  width: 4rem;
}
header .socialMediaIcons ul img {
  width: 1.6rem;
}

nav {
  display: none;
  height: 100%;
  justify-content: space-between;
}
nav .logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav h1 {
  font-family: var(--Libre-Font);
  color: var(--logo-color);
}
nav .navbarContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 64vw;
  max-width: 36rem;
}
nav .navbarContainer ul {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav .navbarContainer ul li {
  font-size: 1.2rem;
  font-weight: 300;
}

.landingSectionWrap .mainIMG {
  background-image: url("/img/winefield1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  margin-top: 5vh;
  height: 55vh;
  max-height: 30rem;
  width: 100%;
}
.landingSectionWrap .mainIMG .bootle {
  display: flex;
  justify-content: center;
}
.landingSectionWrap .mainIMG .bootle img {
  /* width: 35%;
   height: 35%;
   max-width: 7rem;
   max-height: 20rem; */
  width: 18vh;
  height: 60vh;
}
.landingSectionWrap .titleContainer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4vh;
  color: #fff;
}
.landingSectionWrap .titleContainer h1 {
  font-size: 1.6rem;
  font-family: var(--Libre-Font);
}
.landingSectionWrap .titleContainer h2 {
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 300;
}

@media only screen and (min-width: 700px) {
  header {
    padding: 1vh 8vw 0 6vw;
  }
  header .socialMedia {
    display: flex;
  }
  header .mobileNav {
    display: none;
  }
  nav {
    display: flex;
  }
  nav .navbarContainer ul li {
    font-weight: 500;
  }
  .landingSectionWrap {
    justify-content: end;
  }
  .landingSectionWrap .mainIMG {
    display: flex;
    justify-content: end;
    margin-top: 8vh;
  }
  .landingSectionWrap .bootle {
    display: flex;
    position: relative;
  }
  .landingSectionWrap .bootle img {
    right: 10vw;
    position: absolute;
  }
  .landingSectionWrap .titleContainer {
    padding: 0 8vw;
  }
  .landingSectionWrap .titleContainer h1 {
    font-size: 3rem;
  }
  .landingSectionWrap .titleContainer h2 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  header {
    padding: 0 8vw;
  }
  .landingSectionWrap .bootle {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .landingSectionWrap .bootle img {
    position: absolute;
    right: 16vw;
  }
  .landingSectionWrap .titleContainer h1 {
    font-size: 4rem;
  }
  .landingSectionWrap .titleContainer h2 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
